@model IEnumerable<DoAnCoSo1.Models.Tintuc>

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    @foreach (var tintuc in Model) {
    <div class="col-sm-12 col-md-4">
        <div class="container">
            <div class="card">
                <img class="card-img-top" src="@tintuc.Anhbia" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">@tintuc.Tieude</h4>
                    <p>@tintuc.Ngaydang</p>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                    <a asp-controller="Admin" asp-action="AdminChitietTintuc" asp-route-maTT="@tintuc.MaTintuc" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a asp-controller="Admin" asp-action="AdminXoaTintuc" asp-route-maTT="@tintuc.MaTintuc" class="btn btn-primary" style="background: red"><i class="fa fa-trash-alt"></i></a>
                </div>
            </div>
        </div>  
    </div>
    }  
</div>