@model IEnumerable<DoAnCoSo1.Models.Tintuc>

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Tiêu đề")
                </th>
                <th>
                    @Html.DisplayName("Ngày đăng")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tieude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ngaydang)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MaTintuc"><i class="fa fa-edit"></i></a> |
                        <a asp-controller="Admin" asp-action="AdminChitietTintuc" asp-route-maTT="@item.MaTintuc"><i class="fa fa-eye"></i></a> |
                        <a asp-controller="Admin" asp-action="AdminXoaTintuc" asp-route-maTT="@item.MaTintuc"><i class="fa fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>