@{
    ViewData["Title"] = "GameCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var tinTuc in Model)
{
    <a asp-area="" asp-controller="Home" asp-action="NewsDetail" asp-route-maTT="@tinTuc.MaTintuc">
        <div class="news">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <img src="@tinTuc.AnhBia" />
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="row">
                            <div class="col-md-12">
                                <b>@tinTuc.TieuDe</b>
                            </div>
                            <div class="col-md-12">
                                <p>@tinTuc.LoiMoDau</p>
                            </div>
                            <div class="col-md-12">
                                <p>Ngày đăng: @tinTuc.NgayDang</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
}