@{
    ViewData["Title"] = "Tin tức chưa duyệt";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TIN TỨC CHƯA DUYỆT</h2>
<hr />
@foreach (var tinTuc in Model)
{
    <a asp-area="" asp-controller="Home" asp-action="" asp-route-maTT="@tinTuc.MaTintuc">
        <div class="news">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <img src="@tinTuc.AnhBia" />
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="row">
                            <div class="col-md-12">
                                <b>@tinTuc.TieuDe</b>
                            </div>
                            <div class="col-md-12">
                                <p>@tinTuc.LoiMoDau</p>
                            </div>
                            <div class="col-md-12">
                                <p>Ngày đăng: @tinTuc.NgayDang</p>
                            </div>
                            <div class="col-md-12">
                                <a asp-area="" asp-controller="Admin" asp-action="AdminNewsDetail" asp-route-maTT="@tinTuc.MaTintuc" class="btn btn-default"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-info"><i class="fa fa-edit"></i></a>
                                <a asp-area="" asp-controller="Admin" asp-action="XoaTintuc" asp-route-maTT="@tinTuc.MaTintuc" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                <a asp-area="" asp-controller="Admin" asp-action="DuyetTintuc" asp-route-maTT="@tinTuc.MaTintuc" class="btn btn-success"><i class="fa fa-check"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
}

