@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="top-1-news">
    @await Component.InvokeAsync("TintucMoinhat")
</div>
<div class="break-line">
    <p>CÁC TIN KHÁC</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @foreach (var news in Model)
            {
                <div class="news">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <a href="@Url.Action("ChitietTintuc", "Trangchu", new { maTT = news.MaTintuc})"><img src="@news.Anhbia" /></a>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <a href="@Url.Action("ChitietTintuc", "Trangchu", new { maTT = news.MaTintuc})" style="color: black; text-decoration: none;"><h2>@news.Tieude</h2></a>
                        <p>Ngày đăng: @news.Ngaydang</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
                @*@Html.Raw(System.Web.HttpUtility.HtmlDecode(news.Noidung))*@
            }
        </div> 
    </div>
</div>

